.ghibiImage{
    width: 100px;
    height: 100px;
    border: #799b10 solid  4px;
    box-shadow: -5px -5px 10px 5px #b5ca96, 5px 5px 20px 5px #b5ca96;
    }

  .flex{
      display: inline-flex;
      background-color: #093A3E;
      border: 10px #093A3E solid;
    padding-top: 10px;
    box-shadow:  5px 5px 10px 5px #b5ca96, 5px 5px 20px 5px #b5ca96;
  
    
  }  
    
.flip-card{
    display: inline-flex;
    padding: 5px;
    background-color: #4b967d;
    justify-content: center; 
    perspective: 1000px;  
    margin:0px
}


.card-inner{
    position:relative; 
    width: 100%; 
      height: 100%; 
       text-align: center; 
        transition: transform 0.8s; 
      transform-style: preserve-3d;
    }

.flip-card:hover .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{  
  width: 100%;
  height: 100%;
    }


.card-front{
    border: double 15px #8FBC94;
    box-shadow: inset 0px 0px 40px 40px #9fbb4b;
    background-color: #6EB49D;
    color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    font-size: 10px;
    font-family: 'Patrick Hand', cursive;
    height: 180px;
    width:180px;
   
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
   box-shadow: -5px -5px 10px 5px #8ebb4a, 5px 5px 20px 5px #2aabb7;
}
.card-front a{
    color: white;
    text-decoration: none;
}

.card-back{
    background-color: #6EB49D;
    color: white;
    transform: rotateY(180deg);
    font-size: 8px;
    overflow-y:hidden;
    position:fixed ;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: -220px;
    padding: 9px;
    font-family: 'Patrick Hand', cursive;

}
.card-back a{
    color: white;
    text-decoration: none;
}

.totoro {
    position: absolute;
    animation:linear infinite;
    animation-name:run;
    animation-duration:20s;
 
 }
 

.footer{
    color: white;
    padding-left: 50px;
}
.suggested-div{
    display:flex;
    justify-content: center;
    padding-bottom: 20px
}
.suggested{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    color: blanchedalmond;
    border:#47807a solid 11px;
    border-radius: 30%;
    padding:7px;
    background-color: #6EB49D;
    box-shadow: -5px -5px 10px 5px #6EB49D, 5px 5px 20px 5px #70ca2c;
  
}

.suggested-div1{
    display:flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 30px
}
