.backdrop{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    
}

.moviebanner{
    grid-area:main;
    display: flex;
}

.title{
    position: relative;
    background-color: #17a289;
    bottom:30vh;
    height: 10vh;
    font-size: 3rem;
    grid-area: image;
    right:4vh;
    color: blanchedalmond;
    font-family: 'Patrick Hand', cursive;
    text-align:center;
    text-shadow: 2px 2px #ff0000;

}

.detail-description li{
    list-style: none;
    display: inline;
    padding: 10px 15px;
}

.middle-container{
    background-color: #366862;
    color: black;
    border: #17a289 double 15px;
}

.description-grid{
    display: grid;
    grid-template-columns: .5fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    'image space space'
    'image body body'
    'image details rating';
    margin: 50px;
}

.director{
    grid-area: space;
    padding-left: 50px;color:blanchedalmond
}

.film-image{
    grid-area:image;
    height: 600px;
    width: 400px;
   
}

.film-description{
    font-family: 'Patrick Hand', cursive;
    grid-area: body;
    padding-left: 20px;
    padding-right: 60px;
    color:blanchedalmond
}

.detail-description{
    grid-area: details;
    font-family: 'Patrick Hand', cursive;
    padding-left: 50px;
    color:blanchedalmond
}

.rating{
    grid-area: rating;
    text-align:center;
    font-family: 'Patrick Hand', cursive;
    font-size: 35px;
    color: blanchedalmond;
    
    
}

.review{
    text-align: center;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 15px
}

#reviewsubmit{
    position: relative;
    right:25%;
}
