.profile{
    display: grid;
    grid-template-columns:.5fr 3fr 4fr;
    grid-template-rows: 1fr 2fr ;
    grid-template-areas: 
    'sidebar space title'
    'sidebar midspace body'
    'sidebar hobbies favorites'
    'sidebar edit friends'
    
    ;
    padding-top:48px;
    text-align: center;
    line-height: 2;
    background-color: #6EB49D;
    font-family: 'Patrick Hand', cursive;
}

.delete{
    grid-area: sidebar;
    font-family: 'Patrick Hand', cursive;
}

.userpic{
    grid-area: space;
}

.profile img{
    max-height: 200px;
    max-width: 200px;
    box-shadow: -5px -5px 10px 5px #8ebb4a, 5px 5px 20px 5px #2aabb7;
    border: #126959 solid 4px;
    border-radius:50%;
}

.user-title{
    grid-area:title;
    font-family: 'Patrick Hand', cursive;
    color: blanchedalmond;
    font-size:20px;
    color: blanchedalmond;
    text-shadow: 1px 1px #ff0000;
    
}

.bio{
    border-radius:10%;
    font-family: 'Patrick Hand', cursive;
    background-color: #17a289;
    border: #126959 solid 4px;
    color: blanchedalmond;
    font-size:25px;
    padding-bottom:30px;
    text-shadow: 1px 1px #ff0000;
}

.hobbies{
    font-family: 'Patrick Hand', cursive;
    color: blanchedalmond;
    background-color: #17a289;
    flex-wrap:wrap;
    font-size:20px; font-size:30px;
    color: blanchedalmond;
    text-shadow: 1px 1px #ff0000;
}

.favorites{
    grid-area: favorites;
    font-family: 'Patrick Hand', cursive;
    color: blanchedalmond;
    font-size:30px;
    text-shadow: 1px 1px #ff0000;
}

.reviews{
    grid-area:body;
    font-family: 'Patrick Hand', cursive;
    font-size:30px;
    color: blanchedalmond;
    text-shadow: 1px 1px #ff0000;
}

.friends{
    grid-area: friends;
    font-size:30px;
    color: blanchedalmond;
    text-shadow: 1px 1px #ff0000;
}

.editform{
    grid-area: edit;
    background-color: #17a289;
    padding:30px
}
.tom{
    border-radius:50%;
    border: solid green 4px;
    box-shadow: -5px -5px 10px 5px #8ebb4a, 5px 5px 20px 5px #2aabb7;
}
button{
    font-family: 'Patrick Hand', cursive;
    font-size:20px
}
#hobbytext{
    color:blanchedalmond;
    background-color: #138671;
}